


<div class="row">
  <div class="col-sm-6">
    <h1>Phrases</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_phrase_path, class: 'btn btn-primary' do %>
    Add New Phrase
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Greeting</th>
            <th>Position</th>
            
      </tr>
    </thead>

    <tbody>
      <% @phrases.each do |phrase| %>
        <%= content_tag :tr, id: dom_id(phrase), class: dom_class(phrase) do %>
          
            <td><%= link_to phrase.name, phrase %></td>
          

                      <td><%= phrase.greeting %></td>
                      <td><%= phrase.position %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
